.content-infor p {
    font-family: "Assistant", sans-serif;
    font-size: 2vh;
}

.hj {
    display: inline-block;
}

.table-content {
    font-family: "Assistant", sans-serif;
    font-size: 2vh;
}

.anima button {
    font-size: 2vh;
    transition: 0.2s;
}

@media screen and (max-width: 390px) {
    .anima button {
        font-size: 12px !important;
        transition: 0.2s;
    }
}

.table-content-2::-webkit-scrollbar {
    display: none;
}

.table-content-2 {
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 410px;
    overflow-y: scroll;
}