.content-infor p {
    font-family: "Assistant", sans-serif;
    font-size: 2vh;
}

.hj{
    display: inline-block;
}

.table-content {
    font-family: "Assistant", sans-serif;
    font-size: 2vh;
}

.anima button {
    transition: 0.2s;
}

.table-content-2 {
    max-height: 410px;
    overflow-y: scroll;
}


.table-content-2::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.table-content-2 {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}