.productItem {
    height: 470px;
}


@media screen and (max-width: 700px) {
    .productItem {
        height: 300px;
    }

    .line-clamp3 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .productItem h5 {
        font-size: 1rem;
    }

}

.productItem:hover img {
    transform: scale(1.2);

}

.layout-product {
    overflow: hidden;
}

.layout-product img {
    object-fit: cover;
    transition: 1s;
}

.bg-purple-2 {
    background-color: rgb(78, 5, 147);
}

.bg-purple-2:hover {
    background-color: rgb(255, 255, 255);
    color: black !important;
}

.list-infor li {
    margin: 16px 2px;
}