body {
    font-family: "Rubik", sans-serif;
    background-color: rgb(173, 170, 199);
}

.nav-option {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-left: 0;
}

.nav-option a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 700px) {
    .headerResponsive {
        display: flex;
        justify-content: flex-start !important;
        margin-top: 20px;
        padding: 0 !important;
    }

    .headerResponsive a {
        font-size: 3vh;
        margin: 0px 5px;
    }

    .video-format {
        width: 100% !important;
        height: 200px !important;
    }

    .item-new {
        height: 300px !important;
        overflow: hidden;
        font-size: 2vh;
        padding-bottom: 40px !important;
    }

    .item-new button {
        font-size: 11px;
    }

    .line-clamp2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.bg-purple {
    background-color: rgb(173, 170, 199);
}

.hjkl {
    font-family: "Wavefont", system-ui;
}

.video-format {
    width: 50%;
    height: 400px;
}

.special-background {
    background-image: linear-gradient(180deg, rgb(44, 43, 43), rgb(181, 177, 222));
}

.item-new {
    height: 400px;
    overflow: hidden;
}

.item-new img {
    object-fit: cover;
    object-position: center;
    height: 60%;
}

.dropdown-item:focus,
.dropdown-item:active {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}